<h1>Listing cafe_locs</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cafe_locs.each do |cafe_loc| %>
      <tr>
        <td><%= cafe_loc.latitude %></td>
        <td><%= cafe_loc.longitude %></td>
        <td><%= cafe_loc.address %></td>
        <td><%= cafe_loc.description %></td>
        <td><%= cafe_loc.title %></td>
        <td><%= link_to 'Show', cafe_loc %></td>
        <td><%= link_to 'Edit', edit_cafe_loc_path(cafe_loc) %></td>
        <td><%= link_to 'Destroy', cafe_loc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cafe loc', new_cafe_loc_path %>
